@import "/css/general.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&family=Syne:wght@400;600;700&display=swap");

/* MAIN */

span {
  color: #a68f49;
  font-size: 3rem;
}

/* MOBILE NAVIGATION */

.mobile-heading {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  color: #193140;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.mobile-heading h2 {
  padding-top: 1.5rem;
}

.heading-close {
  padding-top: 1.5rem;
}

.mobile-heading button {
  border: none;
  background: none;
}

.heading-closed button {
  background: none;
  border: none;
}

#mobile-navbar-list {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  opacity: 0.8;
}

#mobile-navbar-list a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 0;
  color: #193140;
}

#mobile-navbar-list li {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  border-top: #a68f49 0.5px solid;
}

.fa-bars,
.fa-xmark {
  font-size: 5rem;
  color: #193140;
}

.heading-closed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* SECTIONS */

section h1 {
  text-align: center;
  padding: 2rem 0;
}
/* HOME */
#home {
  padding-top: 3rem;
  height: auto;
  margin-bottom: 2rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}

.top-img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.home-two {
  background: #80a7bf;
  border-radius: 0 0 20px 20px;
  padding: 3rem 2rem 4rem 2rem;
}

.home-two h2 {
  padding: 2rem 0;
  font-weight: 300;
  font-size: 1.5rem;
}

.home-intro {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 300;
  color: #193140;
}

.home-text {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 300;
  color: rgba(16, 42, 66, 1);
  padding-bottom: 2rem;
}

/* SHOWCASE */
#showcase {
  padding: 3rem 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 0 2rem;
}

.show {
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.show-heading {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 500;
}

.fa-align-center,
.fa-align-right,
.fa-align-left {
  font-size: 4rem;
  color: #a68f49;
}

.one,
.two,
.three {
  padding-bottom: 4rem;
}

#showcase img {
  width: 100%;
  border-radius: 10px;
}

.show-title h3 {
  text-align: center;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 2.5rem;
}

/* EXPERIENCE */
#experience {
  background-color: white;
  height: auto;
  padding: 1rem 2rem;
  text-align: center;
  margin: 0 2rem;
}

#experience h3 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
}

.exp-title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  padding: 10rem 4rem 5rem 4rem;
  color: #193140;
}

.exp {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.exp-one,
.exp-two,
.exp-three {
  padding: 4rem 0;
}

.learn {
  letter-spacing: 3px;
  font-size: 1.2rem;
}

.num {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
  color: #a68f49;
}

/* PROJECT */
#project {
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin: 0 2rem;
}

#project img {
  width: 100%;
  border-radius: 10px;
}

.proj-one {
  padding: 2rem 2rem 0 2rem;
}

.proj-two {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#project h3 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
}

/* TESTIMONIALS */
#testimonials {
  height: auto;
  color: white;
  margin: 0 2rem;
}

.test-one {
  background-color: #51768c;
  padding: 6rem 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.test-one p {
  color: white;
  padding: 0 4rem;
}

.test-one blockquote {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 500;
  padding: 2.5rem 4rem;
}

.test-two img {
  width: 100%;
}

/* CONTACT */
#contact {
  padding: 4rem 2rem;
  background: white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  border-radius: 15px;
}

.subscribe-text {
  text-align: center;
  line-height: 1.5;
  padding-top: 6rem;
  padding-bottom: 7rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.subscribe-text h2 {
  padding: 4rem 0;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 15px 0;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #a68f49;
}

.btn-subscribe {
  width: 100%;
  height: 55px;
  background-color: white;
  color: #a68f49;
  padding: 1rem 2rem;
  border: #a68f49 2px solid;
  border-radius: 25px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 2rem;
}

.sect-contact {
  padding-bottom: 5rem;
}

/* PRE-FOOTER */
#pre-footer {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  background: #80a7bf;
  padding: 8rem 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.pref h3,
h4 {
  padding-bottom: 3rem;
}

/* FOOTER */
#footer {
  height: auto;
  background: #193140;
  color: white;
}

#footer p {
  padding: 3rem 6rem;
  text-align: center;
  background: #193140;
  color: white;
}

/* MEDIA QUERY RESPONSIVE MIN-WIDTH 600PX */
@media (min-width: 600px) {
  body {
    max-width: 1366px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  /* NAVIGATION */
  .header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1366px;
  }

  #navbar-list a {
    text-decoration: none;
    color: aliceblue;
  }

  #navbar-list a:hover {
    color: #a68f49;
  }

  #navbar-list {
    display: flex;
    justify-content: space-around;
  }

  .navbar-menu {
    background-color: rgba(16, 42, 66, 0.8);
    padding: 2rem;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    max-width: 1366px;
    border-radius: 0 0 10px 10px;
  }

  .active-link {
    border-bottom: #a68f49 1px solid;
    border-top: #a68f49 1px solid;
    color: #a68f49;
    padding: 1rem 0;
  }

  .active-link-mobile {
    border-bottom: #a68f49 1px solid;
    border-top: #a68f49 1px solid;
    color: #a68f49;
    padding: 1rem 0;
  }

  .mobile-navbar-menu {
    display: none;
  }

  /* MAIN */
  .main {
    margin: 0 auto;
    max-width: 1366px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
      "home home home"
      "showcase showcase showcase"
      "experience experience experience"
      "project project project"
      "testimonials testimonials testimonials"
      ". subscribe-text ."
      "contact contact contact"
      "pre-footer pre-footer pre-footer"
      "footer footer footer";
  }

  #home {
    margin-top: 2.5rem;
    grid-area: home;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top-img home-two";
  }

  .top-img {
    border-radius: 0 0 0 10px;
  }

  .home-two {
    border-radius: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 10rem;
  }

  .home-intro {
    font-size: 4rem;
  }

  #showcase {
    grid-area: showcase;
    display: flex;
    padding: 10rem 4rem;
  }

  .showcase-one {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-bottom: 5rem;
  }

  .showcase-two {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .show-title h3 {
    font-size: 5rem;
    margin-left: 0px;
  }

  .show-title {
    align-self: flex-start;
    padding-bottom: 5rem;
  }

  #experience {
    grid-area: experience;
    padding: 0 10rem;
  }

  .exp {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .exp-text {
    padding: 0 10rem;
  }

  .learn {
    flex-basis: 20rem;
  }

  #project {
    grid-area: project;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "proj-one proj-two";
    padding: 8rem 2rem;
  }

  .proj-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    padding: 0 10rem;
  }

  .proj-title {
    font-size: 7rem;
  }

  #testimonials {
    grid-area: testimonials;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "test-one test-two";
  }

  .test-one {
    grid-area: test-one;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .test-one blockquote {
    font-size: 3.5rem;
    padding: 0 8rem;
    padding-bottom: 3rem;
  }

  .test-one p {
    padding: 0 8rem;
  }

  .test-two {
    grid-area: test-two;
    background-image: url(/img/building-four.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .subscribe-text {
    grid-area: subscribe-text;
    display: grid;
    padding: 6rem 0;
  }

  #contact {
    grid-area: contact;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 5rem 6rem;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .pre-container {
    background-color: #a68f49;
    margin: 0 auto;
  }

  #pre-footer {
    grid-area: pre-footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }

  #footer {
    grid-area: footer;
  }

  .display-nav {
    display: none;

    transition: all 2s ease-in-out;
  }
}

/* MEDIA QUERY RESPONSIVE WIDTH < 600PX */

@media (width < 700px) {
  .navbar-menu {
    display: none;
  }
}

@media (width < 400px) {
  .navbar-menu {
    display: none;
  }
}

@media (width < 1000px) {
  .home-two {
    background: #80a7bf;
    border-radius: 0 0 20px 20px;
    padding: 3rem 1rem 4rem 2rem;
    border-radius: 0 0 10px 0;
  }

  .home-two h2 {
    padding: 1rem 0;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .home-intro {
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 300;
    color: #193140;
  }
}

@media (max-width < 851px) {
  #home {
    display: flex;
    flex-direction: row;
  }

  .top-img {
    grid-area: top-img;
  }

  .home-two {
    grid-area: home-two;
  }

  #experience {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #experience h3 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 500;
  }

  .exp-text {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .proj-two {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #testimonials {
    grid-template-columns: 1fr;
    grid-template-areas:
      "test-one"
      "test-two";
  }

  .test-one {
    grid-area: test-one;
  }

  .test-two {
    grid-area: test-two;
  }
}

@media (width < 650px) {
  #home {
    display: flex;
    flex-direction: column;
  }
}

@media (width < 800px) {
  .home-two h2 {
    padding: 0.5rem 0;
    font-weight: 300;
    font-size: 1rem;
  }

  .home-intro {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 300;
    color: #193140;
  }

  .exp {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #testimonials {
    grid-template-columns: 1fr;
    grid-template-areas:
      "test-one"
      "test-two";
  }

  .proj-two {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #contact {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 5rem 1rem;
  }
}
